# Archivos compilados
*.class
*.log
*.ctxt

# Archivos de empaquetado
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Directorio de build de Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Directorios y archivos de IDEs
# Eclipse
.project
.classpath
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Configuración local (Credenciales de Base de Datos, etc.)
db.properties
